
<div *ngIf="lotteryRound">
    <h2><span>Lottery Round</span> {{lotteryRound.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Datetime</span></dt>
        <dd>
            <span>{{lotteryRound.datetime | date:'medium'}}</span>
        </dd>
        <dt><span>Winner</span></dt>
        <dd>
            <div *ngIf="lotteryRound.winner">
                <a [routerLink]="['/ticket', lotteryRound.winner?.id]">{{lotteryRound.winner?.phoneNumber}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'lottery-round/'+ lotteryRound.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
